<ion-view view-title="Competence">
  <ion-content>
   <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->
<div id="topbar">Nautica Studio</div>
<input type="hidden" id="comp" value="act"/>
<div class="spacer"></div>

<div id="navContent">
<div class="row">
  <a href="#" onclick="GetComp('C1')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy">C1</div></a>
  <a href="#" onclick="GetComp('C2')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy1">C2</div></a>
  <a href="#" onclick="GetComp('C3')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy2">C3</div></a>
</div>
<div class="row">
  <a href="#" onclick="GetComp('C4')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy3">C4</div></a>
  <a href="#" onclick="GetComp('C5')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy4">C5</div></a>
  <a href="#" onclick="GetComp('C6')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy5">C6</div></a>
</div>
<div class="row">
  <a href="#" onclick="GetComp('C7')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy6">C7</div></a>
  <a href="#" onclick="GetComp('C8')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy7">C8</div></a>
  <a href="#" onclick="GetComp('C9')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy8">C9</div></a>
</div>
<div class="row">
  <a href="#" onclick="GetComp('C10')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy9">C10</div></a>
  <a href="#" onclick="GetComp('C11')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy10">C11</div></a>
  <a href="#" onclick="GetComp('C12')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy11">C12</div></a>
</div>
<div class="row">
  <a href="#" onclick="GetComp('C13')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy12">C13</div></a>
  <a href="#" onclick="GetComp('C14')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy13">C14</div></a>
  <a href="#" onclick="GetComp('C15')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy14">C15</div></a>
</div>
<div class="row">
  <a href="#" onclick="GetComp('C16')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy15">C16</div></a>
  <a href="#" onclick="GetComp('C17')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy16">C17</div></a>
  <!--<a href="#" onclick="GetComp('C18')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy17">C18</div></a>-->
</div>
<!--<div class="row">
  <a href="#" onclick="GetComp('C19')" style="text-decoration:none;">
  <div class="competenceSelect col-xs-2 col-sm-3" id="destroy18">C19</div></a>
</div>-->
<div class="noOver">
<div id="game1"></div>
</div>
</div>

    
  </ion-content>
</ion-view>
